@import "tailwindcss";
@custom-variant light (@media (prefers-color-scheme: light));

@layer components {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}


/* In your global CSS file */
.custom-scrollbar::-webkit-scrollbar { 
  width: 6px; 
}
.custom-scrollbar::-webkit-scrollbar-track { 
  background: transparent; 
}
.custom-scrollbar::-webkit-scrollbar-thumb { 
  background: #27272a; 
  border-radius: 4px; 
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover { 
  background: #3f3f46; 
}